main .main-3{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2,500px);
  gap: 25px;
  font-family: "Josefin Sans", cursiv;
}


main .main-3 .card:hover p{
  color: var(--black);
  font-weight: bold;
}
main .main-3 .card p{
  color: var(--white);
  opacity: 0.7;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0px 60px 30px 40px;
  font-size: 2em;
  line-height: 1em;
}
main .main-3 .card{  
  position: relative;
  background-size: cover;
  background-position: center;
}


main .main-3 .card:first-of-type{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-deep-earth.jpg");
}
main .main-3 .card:first-of-type:hover{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/desktop/image-deep-earth.jpg");
}

main .main-3 .card:nth-of-type(2){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-night-arcade.jpg");
}
main .main-3 .card:nth-of-type(2):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/desktop/image-night-arcade.jpg");
}

main .main-3 .card:nth-of-type(3){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-soccer-team.jpg");
}
main .main-3 .card:nth-of-type(3):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/desktop/image-soccer-team.jpg");
}

main .main-3 .card:nth-of-type(4){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-grid.jpg");
}
main .main-3 .card:nth-of-type(4) p{
  padding-right: 100px;
}
main .main-3 .card:nth-of-type(4):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/desktop/image-grid.jpg");
}

main .main-3 .card:nth-of-type(5){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-from-above.jpg");
}
main .main-3 .card:nth-of-type(5):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/desktop/image-from-above.jpg");
}

main .main-3 .card:nth-of-type(6){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-pocket-borealis.jpg");
}
main .main-3 .card:nth-of-type(6):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/desktop/image-pocket-borealis.jpg");
}

main .main-3 .card:nth-of-type(7){
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-curiosity.jpg");
}
main .main-3 .card:nth-of-type(7):hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("../images/desktop/image-curiosity.jpg");
}

main .main-3 .card:last-of-type{
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)), url("../images/desktop/image-fisheye.jpg");
}
main .main-3 .card:last-of-type:hover{
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../images/desktop/image-fisheye.jpg");
}